<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="main">
    <div class="first">
      <a>About Us</a>&nbsp;&nbsp;
      <a>Contacts</a>&nbsp;&nbsp;
      <a>Share Location</a>&nbsp;&nbsp;
      <a>Track Order</a>&nbsp;&nbsp;
      <a>Blog</a>&nbsp;&nbsp;
    </div>
    <div class="second">
      <div class="dropdown">
        <a>Compare:<select class="num">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option></select></a>&nbsp;
        <a>Currency:<select class="num">
          <option>RS</option>
          <option>US</option>
          <option>IN</option>
        </select></a>&nbsp;
        <a>Language:<select class="num">
          <option>EN</option>
          <option>TA</option>
          <option>HI</option>
        </select></a>&nbsp;
    </div>    
  </div>
  </div>
  
  <div class="third">
    <img class="logo" src="assets/image001.png">&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="assets/svg/car.svg">&nbsp;&nbsp;Select Vehicle
      </button>&nbsp;&nbsp;&nbsp;&nbsp;
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#"></a></li>
      <li><a class="dropdown-item" href="#"></a></li>
      <li><a class="dropdown-item" href="#"></a></li>
      </ul>
    </div>
    <input class="txt" type="search" placeholder="Keyword or Part Number">
    <img class="img" src="assets/svg/search.svg" height="20px">
    <img class="img1" src="assets/svg/heart.svg">
    <img class="img2" src="assets/svg/person.svg">
    <pre class="txt2">hello! log in
  <b>My Account</b></pre>  
  <img class="img3" src="assets/svg/cart.svg">
  <pre class="txt2">  Shopping Cart
    <b>₹1468.60</b></pre>
  </div>
  <div class="fourth">
    <div class="dropdown">
      <a><img src="assets/justify-paragraph.png" height="20px"><select class="numm">
        <option>Shop by Category</option>
        <option>1</option>
        <option>2</option>
        <option>3</option></select></a>&nbsp;
        |
      <a><select class="numm">
        <option>Menu</option>
        <option>1</option>
        <option>2</option>
      </select></a>&nbsp;
      <a><select class="numm">
        <option>MegaMenu</option>
        <option>1</option>
        <option>2</option>
      </select></a>&nbsp;
      <a><select class="numm">
        <option>Blog</option>
        <option>1</option>
        <option>2</option>
        <option>3</option></select></a>&nbsp;
        <a><select class="numm">
          <option>Account</option>
          <option>1</option>
          <option>2</option>
          <option>3</option></select></a>&nbsp;
          <a><select class="numm">
            <option>pages</option>
            <option>1</option>
            <option>2</option>
            <option>3</option></select></a>&nbsp;
            <a>Buy Theme</a>&nbsp;
  </div>
    <p class="txtt"> Call Us:<b>089252 97807</b></p>
  </div>
  <div class="content">
    <img class="image" src="assets/slide-1.jpeg">
    <p class="p"><b>30% 0ff</b></p>
    <pre class="pp">When Buying Parts</pre>
    <pre class="ppp">With Installation</pre>
    <pre class="pppp">Installation of parts in the services of
our partners
<button class="btnn">Shop Now</button>
    </pre>
  </div>
  <div class="tab">
  <table class="table">
    <tr>
    <td> <img class="imag" src="assets/brand-1.png"  ><p>AIMPARTS</p> </td>
    <td> <img class="imag" src="assets/brand-2.png"  ><p>WINDENGINE</p></td>
    <td> <img class="imag" src="assets/brand-3.png"  ><p>TURBOELETRIC</p> </td>
    <td> <img class="imag" src="assets/brand-4.png"  ><p>STARTONE</p> </td>
    <td> <img class="imag" src="assets/brand-5.png"  ><p>BRANDIX</p> </td>
    <td> <img class="imag" src="assets/brand-6.png"  ><p>ABS-BRAND</p> </td>
    <td> <img class="imag" src="assets/brand-7.png"  ><p>GREATCIRLE</p> </td>
    <td> <img class="imag" src=" assets/brand-8.png" ><p>JUSTROMB</p> </td>
    </tr>
    <tr>
      <td> <img class="imag" src="assets/brand-9.png"   ><p>FASTWHEELS</p> </td>
      <td> <img class="imag" src="assets/brand-10.png"  ><p>ASTROYKA-X</p> </td>
      <td> <img class="imag" src="assets/brand-11.png"  ><p>MISSION-51</p> </td>
      <td> <img class="imag" src="assets/brand-12.png"  ><p>FUELCORP</p> </td>
      <td> <img class="imag" src="assets/brand-13.png"  ><p>REDGATE</p> </td>
      <td> <img class="imag" src="assets/brand-14.png"  ><p>BLOCKS</p> </td>
      <td> <img class="imag" src="assets/brand-15.png"  ><p>BLACKBOX</p> </td>
      <td> <img class="imag" src=" assets/brand-16.png" ><p>SQUAREGARAGE</p> </td>
    </tr>
    </table>
  </div>
  <div class="body">
  <div class="feauterd">
  <b>Featured Products</b>
</div>
<div class="buttons">
  <button id="ids" class="parallelogram">All</button> 
   <button id="ids" class="parallelogram">Power Tools</button>
   <button id="ids" class="parallelogram">Hand Tools</button>
   <button id="ids" class="parallelogram">Plumbing</button> 
   <button id="idss" class="parallelogram"><</button>
   <button id="idss" class="parallelogram">></button>
  </div>
  </div>
  <div class="items">
  <img class="wheels" src="assets/product-1.jpeg">
  <img class="wheels" src="assets/product-2.jpeg">
  <img class="wheels" src="assets/product-3.jpeg">
  <img class="wheels" src="assets/product-4.jpeg">
  <img class="wheels" src="assets/product-5.jpeg">
  </div>
    <button id="ids " class="parallelo">hot</button> 
    <img id="view" src="assets/svg/quickview.svg">
    <div class="inline">
    <p>SKU:A43-4432B-B</p>
    <pre><b>glossy Gray 19' Aluminium
Wheel AR-19
    </b></pre>
    <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;24 reviews</span><br>
<b>$589.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
    <img id="view1" src="assets/svg/quickview.svg">
    <div class="inline1">
      <p>SKU:729-51203-B</p>
      <pre><b>Twin Exhaust Pipe From
  Brandix Z54
      </b></pre>
      <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span><span>&nbsp;&nbsp;9 reviews</span><br>
  <b>$749.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
    </div>
    <img id="view2" src="assets/svg/quickview.svg">
    <div class="inline2">
      <p>SKU:573-49386-c</p>
      <pre><b>Motor Oil Level 5
      </b></pre><br>
      <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span><span>&nbsp;&nbsp;2 reviews</span><br>
  <b>$23.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
    </div>
    <img id="view3" src="assets/svg/quickview.svg">
    <div class="inline3">
      <p>SKU: 753-38573-B</p>
      <pre><b>Brandix Engine Block Z4
      </b></pre><br>
      <span class="fa fa-star"></span>
  <span class="fa fa-star "></span>
  <span class="fa fa-star "></span>
  <span class="fa fa-star "></span>
  <span class="fa fa-star "></span><span>&nbsp;&nbsp;no reviews</span><br>
  <b>$452.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
    </div>
    <img id="view4" src="assets/svg/quickview.svg">
    <div class="inline4">
      <p>SKU:472-67382-Z</p>
      <pre><b>Brandic Clutch Discs Z175
      </b></pre><br>
      <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star "></span>
  <span class="fa fa-star"></span><span>&nbsp;&nbsp;7 reviews</span><br>
  <b>$345.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
    </div>
    <div class="ba">
    <div class="ban">
      <img src="assets/banner1.jpeg">
      </div>
      <div class="motor">
        <b class="mtrb">MOTOR OILS</b>
        <Pre class="mtrtxt">Synthetic motor oil with free shipping
Friction free life guaranteed
        </Pre>
        <button class="mtrbtn">Shop Now</button>
      </div>
      <div class="ban2">
      <img src="assets/banner2.jpeg">
    </div>
    <div class="motorr">
      <b class="mtrbb">SAVE UP TO $40</b>
      <Pre class="mtrtxtt">Luxurious interior part for real aesthless
Leather, fabric ,ivory and more.
      </Pre>
      <button class="mtrbtnn">Shop Now</button>
    </div>
  </div>
  <div class="top">
  <b class="topp">Top Rated Products </b>
    <b class="toppp">Special offers </b>
    <b class="topppp">Bestsellers </b>
  </div>
  <div class="foot">
  <div class="items2">
    <img class="engine" src="assets/product-6.jpeg">
    <img class="engine" src="assets/product-9.jpeg">
    <img class="engine" src="assets/product-4.jpeg">
  </div>
  <img id="fview" src="assets/svg/quickview.svg">
    <div class="foott">
    <pre><b>Fantastic 12-Stroke With
Power of 1991 hp
    </b></pre>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;17 reviews</span><br>
<b>$2579.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
  <img id="fvieww" src="assets/svg/quickview.svg">
    <div class="foottt">
    <pre><b>Brandix Manual Five Speed 
Gearbox</b></pre><br>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;6 reviews</span><br>
<b>$879.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
  <img id="fviewww" src="assets/svg/quickview.svg">
    <div class="footttt">
    <pre><b>Brandix Engine Block Z4</b></pre><br>
    <br>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;no reviews</span><br>
<b>$453.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
</div>
<div class="foottwo">
  <div class="items3">
    <img class="engine" src="assets/product-7.jpeg">
    <img class="engine" src="assets/product-10.jpeg">
    <img class="engine" src="assets/product-13.jpeg">
  </div>
  <img id="fv" src="assets/svg/quickview.svg">
    <div class="fo">
    <pre><b>Set of Four 19 Inch Spiked 
Tires</b></pre>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;9 reviews</span><br>
<b>$327.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
  <img id="fvi" src="assets/svg/quickview.svg">
    <div class="foo">
    <pre><b>Set of Four Floor Mats 
Brandix Z4</b></pre>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;16 reviews</span><br>
<b>$78.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
  <img id="fvie" src="assets/svg/quickview.svg">
    <div class="fooo">
    <pre><b>Brandix Clutch Discs Z175</b></pre><br>
    <br>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;7 reviews</span><br>
<b>$345.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
</div>
<div class="footthree">
  <div class="items4">
    <img class="engine" src="assets/product-8.jpeg">
    <img class="engine" src="assets/product-11.jpeg">
    <img class="engine" src="assets/product-9.jpeg">
  </div>
  <img id="fov" src="assets/svg/quickview.svg">
    <div class="ff">
    <pre><b>  40 Megawatt Low Beam Lamp</b></pre><br><br>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;9 reviews</span><br>
<b>$4.00&nbsp;&nbsp;<s>$8.00</s></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
  <img id="foov" src="assets/svg/quickview.svg">
    <div class="fff">
    <pre><b>Taillights Brandix Z54</b></pre><br><br>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;8 reviews</span><br>
<b>$60.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
  <img id="fooov" src="assets/svg/quickview.svg">
    <div class="ffff">
    <pre><b>Brandix Manual Five Speed GearBox</b></pre><br>
    <br>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span><span>&nbsp;&nbsp;6 reviews</span><br>
<b>$879.00</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/svg/cart-20.svg">
  </div>
</div>
<div class="down">
<img src="assets/svg/free-delivery.svg" style="filter: invert(82%) sepia(62%) saturate(495%) hue-rotate(77deg) brightness(96%) contrast(101%);"><pre><b>Free Shipping</b>
for orders from 150</pre>
<img src="assets/svg/24-hours.svg" style="filter: invert(82%) sepia(62%) saturate(495%) hue-rotate(77deg) brightness(96%) contrast(101%);"><pre><b>Support 24/7</b>
Call us Anytime</pre>
<img src="assets/svg/payment-security.svg" style="filter: invert(82%) sepia(62%) saturate(495%) hue-rotate(77deg) brightness(96%) contrast(101%);"><pre><b>100% Safety</b>
Only secure payments</pre>
<img src="assets/svg/tag.svg" style="filter: invert(82%) sepia(62%) saturate(495%) hue-rotate(77deg) brightness(96%) contrast(101%);"><pre><b>Hot Offers</b>
Discounts up to 90% </pre>
</div>
<div class="mainn">

  <div class="sub">
    <p class="cont">Contact Us</p>
    <p class="blackc">Hi, We are always open for cooperation and suggestions,<br>
        contacts us in one of the way below:
    </p><br>
    
    <div class="contact">
    <div class="div1">
        <p class="blackc">PHONE NUMBER&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <P class="whitec">08925297807</P>
    </div>
    <div class="div2">
        <p class="blackc">EMAIL ADDRESS</p>
        <P class="whitec">careers@uitouxssolutions.com</P>
    </div></div>
    <div class="contact">
    <div class="div1">
        <p class="blackc">OUR LOCATION</p>
        <P class="whitec">102,Athipalayam Rd,<br>
            Ramakrishnapuram,<br>
            Chinnavedampatti,<br>
            Coimbatore,Tamilnadu<br>
            641049
        </P>
    </div>
    <div class="div2">
        <p class="blackc">WORKING HOURS</p>
        <P class="whitec">Mon-Fri 10:00pm - 6:00pm</P>
    </div></div>

  </div>

  <div class="sub">
    <p class="cont">Information</p>
    <p class="blackc">About Us</p>
    <p class="blackc">Delivery Information</p>
    <p class="blackc">Privacy Policy</p>
    <p class="blackc">Brands</p>
    <p class="blackc">Contact Us</p>
    <p class="blackc">Returns</p>
    <p class="blackc">Site Map</p>
  </div>

  <div class="sub">
    <p class="cont">My Account</p>
    <p class="blackc">Store Location</p>
    <p class="blackc">Order History</p>
    <p class="blackc">Wish List</p>
    <p class="blackc">Newsletter</p>
    <p class="blackc">Special Offer</p>
    <p class="blackc">Gift Certificates</p>
    <p class="blackc">Affiliate</p>
  </div>

  <div class="sub">
    <p class="cont">Newsletter</p>
    <p class="blackc">Enter your email address below to subscribe to our newsletter <br>
    and keep up to date with discounts and special offers.</p>
    <input class="ebox" type="email" placeholder="user@example.com">
    <button class="btnnn">Subscribe</button><br><br>
    <p class="blackc">Follow us on social networks</p>
    <img src="assets/facebook.png" height="25px">&nbsp;
    <img src="assets/twitter.png" height="25px">&nbsp;
    <img src="assets/youtube.png" height="25px">&nbsp;
    <img src="assets/instagram.png" height="27px">&nbsp;
    <img src="assets/wifi-signal.png" height="25px">&nbsp;
  </div>

</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>